
.Navbar
{
  background-color: #000c31;
  line-height: 4em;
  height: 4em;
  margin-bottom: 1em;  
}

.Footer
{
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #1b1b1b;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0;
  padding: 0.6em 0em 0.6em 0em;
  color: #949292;
}

.MainContent {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 150px; /* height of your footer */
 }

* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }

.BrandName
{
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  padding: 1em;
  margin-right: 4em;
}

.AppContent
{
  padding: 1em;
}

input[type="text"]
{
  border-color: #cccccc;
  background-color: #e6e0e0;
  border-radius: 5px;
  padding: 0.4em;
  border-style: hidden;
  border-width: 1px;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

input[type="submit"]
{
  border-color: #cccccc;
  background-color: #e6e0e0;
  border-radius: 5px;
  padding: 0.4em 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.WorkoutContainer
{
  margin: 4em 0em 0em 0em;
}

.AddSet > form > div
{
  display: flex;
  margin-bottom: 0.3em;
}

.AddSet > form > label
{
  display: block;
}

button {
	background-color:#3a2937;
	border-radius:5px;
	border:1px solid #585858;
	display:inline-block;
	cursor:pointer;
	color:#d4d3d3;
  font-family:Arial;
  padding: 0.7em 2em;
  margin-bottom: 0.3em;
  margin-right: 0.3em;
  width: auto;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.SetNumbers
{
  width: 70%;
}

.SetNumber:first-of-type
{
  margin-right: 3em;
}

.DeleteSet
{
  position: absolute;
  right: 1em;
  bottom: 0.8em;
}

.Set
{
  display: inline-block;
  width: 20%;
  padding: 0.3em 1em 0.3em 1em;
  position: relative;
}

.AllSets > div:nth-child(odd) > div
{
  background-color: rgb(81, 48, 48);
}

.AllSets > div:nth-child(even) > div
{
  background-color: rgb(132, 78, 78);
}

.AllSets
{
  margin-top: 2em;
}

.Hidden
{
  display: none;
}

.AllSets > div:first-child > div:first-child
{
  border-radius: 0.6em 0.6em 0 0;
}

.AllSets > div:last-child > div:last-child
{
  border-radius: 0em 0em 0.6em 0.6em;
}

.Graphs
{
  display: flex;
}

.LabelForGraphs
{
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2em;
}

hr
{
  border-width: 1px;
  margin:0;
  opacity: 30%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.NavOption
{
  margin-right: 2em;
  padding-bottom: 0.3em;
  /* border-bottom: 1px solid rgba(255,255,255, 0.1); */
  cursor: pointer;
}



.Navbar > span > input[type="file"]
{
  display: none;
}

.WorkoutName
{
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}


@media only screen and (max-width: 600px)
{

.Navbar > .NavOption
{
  margin-left: 1em;
}

.BrandName
{
  display: none;
}

.AddSet > form > div
{
  display: block;
  margin-bottom: 0.3em;
}

.AddSet > form > label
{
  display: block;
}

.Set
{
  width: 90%;
}

.LabelForGraphs
{
  font-size: 1.3em;
}

.Graphs
{
  display: block;
  font-size: 1em;
}
 
.SetNumber:first-of-type
{
  margin-right: 0em;
  margin-left:  1em;
}





}
